.image-upload > input {
    display: none;
}

.image-upload img {
    width: 100px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.buttons{
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}